.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.site-layout .site-layout-background {
  background: #fff;
}

.site-layout .site-layout-header {
  background: rgb(0, 21, 41);
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 150px;
  text-align: center;
}

.steps-action {
  margin-top: 24px;
}

.custom-header {
  padding: 24px;
}

.container {
  padding: 24px;
}